<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>Example-applet</title>-->
<!--<base href="/">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--</head>-->
<!--<body>-->
<!--<button (click) = "dynamicCom()" >Add Component</button>-->
<!--<button (click) = "destroyCom()" >Destroy Component</button>-->
<!--<div [innerHTML]="appletMFTag | sanitizeHtml"></div>-->
<!--<div>-->
  <div #entry></div>
<!--</div>-->
<!--</body>-->
<!--</html>-->
