<mat-card>
  <mat-card-content>
    <h3>Version 1.04 (2025-01-08)</h3>
    <ul>
        <li>Apply Show gl dimension, projets, segment, and profit center settings at Advance Search</li>
        <li>Change UI and Listing End points fo Search By Customer</li>
    </ul>
    <h3>Version 1.03 (2024-12-31)</h3>
    <ul>
        <li>Search By Invoice - speed up the searching time</li>
        <li>Add Search By Cashbill - speed up the searching time</li>
        <li>Add branch drop down for Search By Invoice</li>
    </ul>
    <h3>Version 1.02 (2024-12-12)</h3>
    <ul>
        <li>Customer Search - speed up the searching time</li>
        <li>Sales Return Listing - speed up the searching time</li>
        <li>Line Item Listing - speed up the searching time</li>
        <li>Advance Search - Add Default Transaction date, Sorting Order, Posting Status and Default Status</li>
        <li>Apply Fuzzy Search Settings at Sales Return Listing</li>
    </ul>
    <h3>Version 1.01 (2024-09-05)</h3>
    <ul>
        <li>Add Show Forex Data Source Applet Setting</li>
        <li>Add Cannot Edit Currency Rate Applet Setting</li>
        <li>Block contra shadow document</li>
        <li>Block update shadow document </li>
    </ul>
    <h3>Version 1.00 (2024-06-20)</h3>
    <ul>
      <li>Support forex currency</li>
    </ul>
  </mat-card-content>
</mat-card>