<mat-form-field class="full-width" appearance="outline">
    <mat-label>{{settlementMethodType}}</mat-label>
    <mat-select [formControl]="defaultSettlement" (selectionChange)="onSelect($event.value)">
      <mat-option>
        <ngx-mat-select-search [placeholderLabel]="'Key in Code/Name'"
          [noEntriesFoundLabel]="'No matching records found'"
          [formControl]="serverSideFiltering" [searching]="serverSideSearching"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let eachOption of filteredOptions$ | async" [value]="eachOption.code">
      {{eachOption.code}} |  {{eachOption.name}}
      </mat-option>
    </mat-select>
    <mat-error>
      Settlement Method <strong>not valid</strong>
    </mat-error>
  </mat-form-field>