<mat-form-field appearance="outline">
    <mat-label>Pricing Scheme</mat-label>
    <mat-select [formControl]="pricingScheme" (selectionChange)="onSelect($event.value)">
      <mat-option>
        <ngx-mat-select-search [placeholderLabel]="'Search'"
          [noEntriesFoundLabel]="'No matching records found'"
          [formControl]="filterControl"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let opt of filteredOptions$ | async" [value]="opt.bl_fi_mst_pricing_scheme_hdr.guid">
        {{opt.bl_fi_mst_pricing_scheme_hdr.code}} | {{opt.bl_fi_mst_pricing_scheme_hdr.name}}
      </mat-option>
    </mat-select>
    <mat-error>
      Pricing Scheme <strong>not valid</strong>
    </mat-error>
  </mat-form-field>