<mat-tab-group mat-stretch-tabs [dynamicHeight]="true" [selectedIndex]="selectedIndex$ | async" *ngIf="!showPanels()">
    <mat-tab label="Main Details">
        <app-edit-item-details-main-details></app-edit-item-details-main-details>
    </mat-tab>
    <mat-tab label="Delivery Instruction">
        <app-edit-item-details-delivery-instructions></app-edit-item-details-delivery-instructions>
    </mat-tab>
    <mat-tab label="Department">
        <app-edit-item-details-department></app-edit-item-details-department>
    </mat-tab>
    <mat-tab label="Doc Link">
        <app-edit-item-details-doc-link></app-edit-item-details-doc-link>
    </mat-tab>
    <mat-tab label="Delivery Details">
        <app-edit-item-details-delivery-details></app-edit-item-details-delivery-details>
    </mat-tab>
</mat-tab-group>

<mat-accordion *ngIf="showPanels()" [multi]="true">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Main Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-edit-item-details-main-details></app-edit-item-details-main-details>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Delivery Instructions
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-edit-item-details-delivery-instructions></app-edit-item-details-delivery-instructions>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Department
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-edit-item-details-department></app-edit-item-details-department>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Doc Link
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-edit-item-details-doc-link></app-edit-item-details-doc-link>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Delivery Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-edit-item-details-delivery-details></app-edit-item-details-delivery-details>
    </mat-expansion-panel>
</mat-accordion>

