<h1>Celmonze LanchPad Panel</h1>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Main</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img4.jpg" class="image" alt="Photo of a Shiba Inu">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Card column -->
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img3.jpg" class="image" alt="">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Card column -->
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img5.jpg" class="image" alt="">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img2.jpg" class="image" alt="">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Other</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img4.jpg" class="image" alt="Photo of a Shiba Inu">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Card column -->
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img3.jpg" class="image" alt="">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Card column -->
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img5.jpg" class="image" alt="">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25%" fxFlex="100" class="container">
    <mat-card>
      <img mat-card-image src="assets/images/big/img2.jpg" class="image" alt="">
      <div class="overlay">
        <div class="text">
          <button mat-icon-button style="margin-right: 20px;">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content align="center">
        <h4>Applet Name</h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>
