<div style="text-align: right; margin-top: 16px;">
  <button mat-raised-button color="primary" type="button">SAVE</button>
</div>
<mat-card>
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="field-header">Lines Settings</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <mat-slide-toggle>Unit Discount</mat-slide-toggle>
        </li>
        <li>
          <mat-slide-toggle>SST/VAT/GST</mat-slide-toggle>
        </li>
        <li>
          <mat-slide-toggle>WHT</mat-slide-toggle>
        </li>
        <li>
          <mat-slide-toggle>Blanket Order</mat-slide-toggle>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="field-header">Department Settings</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <mat-slide-toggle>Segment</mat-slide-toggle>
        </li>
        <li>
          <mat-slide-toggle>G/L Dimension</mat-slide-toggle>
        </li>
        <li>
          <mat-slide-toggle>Profit Center</mat-slide-toggle>
        </li>
        <li>
          <mat-slide-toggle>Project</mat-slide-toggle>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

