<div class="view-col-table no-tab" fxLayout="column">
  <mat-card-title class="column-title">
    <div>
      <button #navBtn mat-button class="blg-button-icon" matTooltip="Back" type="button"
        [disabled]="deactivateReturn$ | async" (click)="onReturn()">
        <img [ngClass]="navBtn.disabled ? 'blg-button-disabled' : null" src="../../../assets/images/backbutton.png"
          alt="add" width="40px" height="40px">
      </button>
      <span>
        Select Member
      </span>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between end" fxLayoutGap="10px">
      <div fxFlex="3 0 0">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
          <!-- <button ngClass.xs="blg-button-mobile" #navBtn class="blg-button-icon" mat-button matTooltip="Create" type="button"
              [disabled]="deactivateAdd$ | async"
              (click)="onAdd()">
              <img [ngClass]="navBtn.disabled ? 'blg-button-disabled' : null" src="assets/images/add.png" alt="add" width="40px" height="40px">
            </button> -->
          <app-advanced-search-iscn class="mobile" fxFlex fxFlex.lt-sm="100" [advSearchModel]="searchModel"
            (search)="onSearch($event)"></app-advanced-search-iscn>
        </div>
      </div>
      <div class="blg-accent" fxFlex="1 0 25" fxLayout="row" fxLayoutAlign="space-between center">
        <app-pagination fxFlex #pagination [agGridReference]="agGrid"></app-pagination>

      </div>
    </div>
  </mat-card-title>
  <div style="height: 80%;">
    <ag-grid-angular #agGrid id="grid" style="height: 100%;" class="ag-theme-balham"
      [getRowClass]="pagination.getRowClass" [columnDefs]="columnsDefs" [rowData]="[]"
      [paginationPageSize]="pagination.rowPerPage" [cacheBlockSize]="pagination.rowPerPage" [pagination]="true"
      [animateRows]="true" [defaultColDef]="defaultColDef" [suppressRowClickSelection]="false"
      [rowSelection]="'single'" [sideBar]="true" [rowModelType]="'serverSide'" [serverSideStoreType]="'partial'"
      (rowClicked)="onRowClicked($event.data)" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
