<form [formGroup]="form">
    <mat-card-title class="column-title">
      <div fxLayout="row" fxLayoutAlign="space-between end" style="margin-left: 10px; margin-right: 20px;">
        <div>
          <button #navBtn mat-button class="blg-button-icon" matTooltip="Back" type="button"
            (click)="onReturn()">
            <img [ngClass]="navBtn.disabled ? 'blg-button-disabled' : null" src="../../../assets/images/backbutton.png" alt="add" width="40px" height="40px">
          </button>
          <span style="font-size: 15px; margin-top: 10px;">
            Edit Pricing Scheme
          </span>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="onSave()">SAVE</button>
      </div>
    </mat-card-title>
      <div fxLayout="row wrap" fxFlexAlign="center" class="view-col-forms" style="min-height: 100vh">
        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"> 
          <app-pricing-scheme-branch [(pricingScheme)]="form.controls['pricingScheme']"></app-pricing-scheme-branch>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Level</mat-label>
            <input  matInput placeholder="Level" [formControl]="form.controls['level']" type="number">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <button mat-raised-button color="warn" (click)="onDelete()"
          type="button">
          DELETE
          </button>
      </div>
      </div>
      
  </form>