.cen{
  text-align: center;
  margin-bottom: 20px;
}
.right{
  text-align: right;
  font-size: 10px;
  size: 10px;
}

h3{
  display: inline-block !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  // float: left;
}

.mat-icon-button{
  text-align: right;
  right: 1px;
  float: right;
}

.mat-stroked-button{
 left:32%;
}

.yesButton{
  margin-right:2%;
  color: white;
  background-color: #a94442;
}

.noButton{
  color: white;
  background-color: gray;
}

.close{
  text-align:right;
  float: right;
  background-color: white;
  border:none;
  cursor: pointer;
  position: relative;
  top: -20px;
  right: -10px;
}

.header {
  text-align: center;
}
