<div class="view-col-forms">
  <div class="inner-tab">
    <form [formGroup]="shippingForm">
      <div align="left" style="margin-bottom: 10px; font-size: 24px; padding: 5px">
        <button mat-raised-button color="primary" type="button" *ngIf="showSelectShippingButton"
          (click)="selectShipping.emit()">
          Select Shipping Address
        </button>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="100" fxLayout="column">
          <div *ngFor="let x of shippingCenterColControls; let i = index">
            <mat-form-field *ngIf="x.readonly;else input" appearance="outline">
              <mat-label>{{x.label}}</mat-label>
              <input matInput [readonly]="!editable" [formControl]="shippingForm.controls[x.formControl]"
                autocomplete="off">
            </mat-form-field>
            <ng-template #input>
              <ng-container [ngSwitch]="x.type">
                <mat-form-field *ngSwitchCase="'text'" appearance="outline">
                  <mat-label>{{x.label}}</mat-label>
                  <input matInput [formControl]="shippingForm.controls[x.formControl]" maxlength="255">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                </mat-form-field>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="50" fxLayout="column">
          <div *ngFor="let x of shippingLeftColControls; let i = index">
            <mat-form-field *ngIf="x.readonly;else input" appearance="outline">
              <mat-label>{{x.label}}</mat-label>
              <input matInput [readonly]="!editable" [formControl]="shippingForm.controls[x.formControl]"
                autocomplete="off">
            </mat-form-field>
            <ng-template #input>
              <ng-container [ngSwitch]="x.type">
                <mat-form-field *ngSwitchCase="'email'" appearance="outline">
                  <mat-label>{{x.label}}</mat-label>
                  <input matInput [formControl]="shippingForm.controls[x.formControl]" autocomplete="off" type="email">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                </mat-form-field>
              </ng-container>
            </ng-template>
          </div>
        </div>

        <div fxFlex="50" fxLayout="column">
          <div *ngFor="let x of shippingRightColControls; let i = index">
            <mat-form-field *ngIf="x.readonly;else input" appearance="outline">
              <mat-label>{{x.label}}</mat-label>
              <input matInput [readonly]="!editable" [formControl]="shippingForm.controls[x.formControl]"
                autocomplete="off">
            </mat-form-field>
            <ng-template #input>
              <ng-container [ngSwitch]="x.type">
                <mat-form-field *ngSwitchCase="'number'" appearance="outline">
                  <mat-label>{{x.label}}</mat-label>
                  <input matInput [formControl]="shippingForm.controls[x.formControl]">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                </mat-form-field>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>
    </form>

    <mat-divider style="margin-bottom: 25px;"></mat-divider>
    <form [formGroup]="addressForm">
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="50" fxLayout="column">
          <div *ngFor="let x of addressLeftColControls; let i = index">
            <mat-form-field *ngIf="x.readonly;else input" appearance="outline">
              <mat-label>{{x.label}}</mat-label>
              <input matInput readonly [formControl]="addressForm.controls[x.formControl]" autocomplete="off"
                (change)="updateShippingAddress.emit(addressForm.value)">
            </mat-form-field>
            <ng-template #input>
              <ng-container [ngSwitch]="x.type">
                <mat-form-field *ngSwitchCase="'text'" appearance="outline">
                  <mat-label>{{x.label}}</mat-label>
                  <input matInput [formControl]="addressForm.controls[x.formControl]" autocomplete="off" type="text"
                    (change)="updateShippingAddress.emit(addressForm.value)">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'number'" appearance="outline">
                  <mat-label>{{x.label}}</mat-label>
                  <input matInput [formControl]="addressForm.controls[x.formControl]" autocomplete="off" type="number"
                    (change)="updateShippingAddress.emit(addressForm.value)">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'shippingAddress'" appearance="outline">
                  <mat-label>{{x.label}}</mat-label>
                  <input style="cursor: pointer" matInput readonly [formControl]="addressForm.controls[x.formControl]"
                    autocomplete="off" type="text" (click)="selectAddress()">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                  <mat-hint><strong>Entity ID</strong> must be selected first</mat-hint>
                </mat-form-field>
              </ng-container>
            </ng-template>
          </div>
        </div>
        <div fxFlex="50" fxLayout="column">
          <div *ngFor="let x of addressRightColControls; let i = index">
            <mat-form-field *ngIf="x.readonly;else input" appearance="outline">
              <mat-label>{{x.label}}</mat-label>
              <input matInput readonly [formControl]="addressForm.controls[x.formControl]" autocomplete="off"
                (change)="updateShippingAddress.emit(addressForm.value)">
            </mat-form-field>
            <ng-template #input>
              <ng-container [ngSwitch]="x.type">
                <mat-form-field *ngSwitchCase="'text'" appearance="outline"
                  (change)="updateShipTo.emit(shippingForm.value)">
                  <mat-label>{{x.label}}</mat-label>
                  <input matInput [formControl]="addressForm.controls[x.formControl]" autocomplete="off" type="text"
                    (change)="updateShippingAddress.emit(addressForm.value)">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'number'" appearance="outline">
                  <mat-label>{{x.label}}</mat-label>
                  <input matInput [formControl]="addressForm.controls[x.formControl]" autocomplete="off" type="number"
                    (change)="updateShippingAddress.emit(addressForm.value)">
                  <mat-error>{{x.label}} is <strong>not valid</strong></mat-error>
                </mat-form-field>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>