.cen{
  text-align: center;
  margin-bottom: 20px;
}
.right{
  text-align: right;
  font-size: 10px;
  size: 10px;
}

h3{
  display: inline-block !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  // float: left;
}

.mat-icon-button{
  text-align: right;
  right: 1px;
  float: right;
}

.mat-stroked-button{
  float: right;
}

.yesButton{
  float: left !important;
}

.close{
  text-align:right;
  float: right;
  background-color: white;
  border:none;
  cursor: pointer;
}
