/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~@angular/material/theming";
//do not add following line to this angular-cli-project-anywhere.Not even in the sandbox.
@include mat-core();
// importing custom theme
@import './../../../styles/theme.scss';
//// Reset styling
@import "./../../../styles/reset.scss";
//---------------------------------------------

body {
  background: #fdfdfd;
}

.background {
  height: 100%;
  min-height: calc(100vh - 64px);
}

.jumbotron {
  border-radius: 0px;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
