<div class="jumbotron bg-dark">
    <div class="container text-light">
        <h1 class="display-3">Operational Datalake Platform</h1>
        <p>The central hub for all your business applications, integrated in one datalake like never before.
            Don't use your datalake for BI and reporting only, turn them into a brain that will orchestrate your
            business for you.
            A single source of truth, operate your business like an orchestra with power and creativity.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/auth/sign-up">Join now</a>
            <a class="btn btn-secondary btn-lg ml-3" href="#" role="button" routerLink="/auth/login">Sign in</a>
        </p>
    </div>
</div>

<div class="container mb-5">

    <div class="row">
        <div class="col-md-4">
            <h2>PWA and Cloud Native</h2>
            <p>Online, offline, cross browsers, cross devices. For the first time ever, the line between native and web
                applications are blurred, just like phone, camera, pda, games console have merged into one, our smart
                phone today.
                Now, you can take advantage of the PWA for your business too. Do not compromise and settle for less.
            </p>
            <p><a class="btn btn-secondary" href="https://wavelet.net/services/data-lake-bigledger/" role="button"
                    target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Omni Channel</h2>
            <p>Having Multi-channel allow you to reach out to your customers via e-commerce website, telephone (voice),
                text messages, messengers (Skype, Facebook, Telegram, Whatsapp, Wechat) etc. Using the Omni-Channel
                approach takes you to the next levels where these channels are tightly integrated, like how your eyes,
                hands and legs are well coordinated when you are playing sports.</p>
            <p><a class="btn btn-secondary" href="https://wavelet.net/services/data-lake-bigledger/" role="button"
                    target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hybrid Best In Breed</h2>
            <p>
                In today's world, you may be using MailChimp for email marketing, using Alibaba, Lazada, 11street for
                your market place, you may have your own e-commerce website, you probably prefer a certain accounting
                software, and some other payroll or HR applications fit your budget and need, internal workflow,
                collaboration software could be from a different vendor. It is time to liberate the data you have in
                the varous systems you have, and let the akaun platform (BigLedger) harmonize them for you.
            </p>
            <p><a class="btn btn-secondary" href="https://wavelet.net/services/data-lake-bigledger/" role="button"
                    target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Robotic Process Automation (RPA) </h2>
            <p>
                It is about time we liberate human from mundane and repetitive tasks. It is about time we automate
                everything we could, to reduce costs, improve speed, increase efficiency, and provide our customers,
                shareholders a better performance. It is about time, we ask our employees to work less, and be
                creative. Lets make it happen together.
            </p>
            <p><a class="btn btn-secondary" href="https://wavelet.net/services/data-lake-bigledger/" role="button"
                    target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Artificial Intelligence Implementation</h2>
            <p>
                It is no longer a magic. We make use of Artificial Intelligence modules from Google, Microsoft and
                Amazon to implement various vision, speech and naturual language processing.
            </p>
            <p><a class="btn btn-secondary" href="https://wavelet.net/services/data-lake-bigledger/" role="button"
                    target="_blank">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Blockchain for Business</h2>
            <p>
                Blockchain is the "new internet". It is not quite mature yet, but it is evolving at and extremely rapid
                phase. We help companies to implement blockchain applications for your businesses. We focus on triple
                ledger accounting (blockchain for accounting software).
            </p>
            <p><a class="btn btn-secondary" href="https://wavelet.net/services/data-lake-bigledger/" role="button"
                    target="_blank">Learn more &raquo;</a></p>
        </div>
    </div>

</div>
