<div class="view-col-table" fxLayout="column">
  <!-- <div style="padding: 10px;">
    <mat-form-field appearance="outline">
      <mat-label>Deposit Used</mat-label>
      <input matInput [formControl]="depositUsed" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Used Credit Memo</mat-label>
      <input matInput [formControl]="usedCreditMemo" type="text">
    </mat-form-field>
  </div> -->
  <div fxLayout="row wrap" fxLayoutAlign="end">
    <div class="blg-accent" fxFlex="1 0 25" fxLayout="row" fxLayoutAlign="space-between center">
      <button ngClass.xs="blg-button-mobile" #navBtn class="blg-button-icon" mat-button matTooltip="Create" type="button"
        [disabled]="localState.deactivateAddContra"
        (click)="onNext()">
        <img [ngClass]="navBtn.disabled ? 'blg-button-disabled' : null" src="assets/images/add.png" alt="add" width="40px" height="40px">
      </button>
      <app-pagination fxFlex #pagination [agGridReference]="agGrid"></app-pagination>
      <app-grid-toggle class="blg-button-icon"></app-grid-toggle>
    </div>
  </div>
  <div style="height: 100%;">
    <ag-grid-angular #agGrid
    style="height: 100%;"
    class="ag-theme-balham"
    rowSelection="single"
    rowModelType="serverSide"
    serverSideStoreType="partial"
    [getRowClass]="pagination.getRowClass"
    [columnDefs]="columnsDefs"
    [paginationPageSize]="pagination.rowPerPage"
    [cacheBlockSize]="pagination.rowPerPage"
    [animateRows]="true"
    [defaultColDef]="defaultColDef"
    [suppressRowClickSelection]="false"
    [sideBar]="true"
    (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
