.eInvoiceGrids {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    height: 100%;
}

.grid {
    // background-color: red;
    flex: 1 1 25%;
    // height: 25% !important;
    p {
        font-size: 15px;
        // text-align: left;
    }
}

  /* Style for expanded panel */
  .expanded-subpanel {
    border: 2px solid rgb(53, 202, 247); /* Blue border for expanded panel */
  }