<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <mat-card style="height: 100%; overflow: hidden; display: contents"> <mat-card-content> -->
  <div fxLayout="column" class="view-col-forms">
    <div fxLayout="row wrap" fxFlexAlign="center" class="row">
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Customer Name </mat-label> <input matInput placeholder="Customer Name"
            [formControl]="form.controls['name']" required maxlength="255">

          <mat-hint *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
            class="text-danger font-14">Please insert Customer Name </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Customer Code </mat-label> <input matInput placeholder="Customer Code"
            [formControl]="form.controls['code']" type="text" maxlength="255" required>
          <mat-hint *ngIf="form.controls['code'].hasError('required') && form.controls['code'].touched "
            class="text-danger font-14">Please insert Customer Code </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Entity Type </mat-label>
          <mat-select placeholder="Type" formControlName="eType" required [value]="form.controls['eType'].value" multiple
            (selectionChange)="onEntityChange($event)">
            <mat-option *ngFor="let type of eType" [value]="type"> {{type}} </mat-option>
          </mat-select>
          <mat-hint *ngIf="form.controls['eType'].hasError('required') && form.controls['eType'].touched"
            class="text-danger font-14">Please select Entity Type </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Customer Type </mat-label>
          <mat-select placeholder="Type" formControlName="type" (selectionChange)="onTypeChange($event)" required>
            <mat-option *ngFor="let type of type" [value]="type.value"> {{type.viewValue}} </mat-option>
          </mat-select>
          <mat-hint *ngIf="form.controls['type'].touched && form.value.type==='INDIVIDUAL' && isEmployee "
            class="text-primary font-14">
            Please uncheck Employee Type for
            Corporate dropdown
          </mat-hint>
          <mat-hint *ngIf="form.controls['eType'].touched " class="text-danger font-14">
          </mat-hint>
          <mat-hint *ngIf="form.controls['type'].hasError('required') && form.controls['type'].touched "
            class="text-danger font-14">Please select Customer Type </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Status </mat-label>
          <mat-select placeholder="Status" formControlName="status" required>
            <mat-option *ngFor="let s of status" [value]="s.value"> {{s.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100"
        *ngIf="form.get('type').value === 'INDIVIDUAL'">
        <mat-form-field appearance="outline">
          <mat-label> Identity Type </mat-label>
          <mat-select placeholder="Identity Type" formControlName="id_type">
            <mat-option *ngFor="let type of idType" [value]="type.value"> {{type.viewValue}} </mat-option>
          </mat-select>
          <mat-hint *ngIf="form.controls['id_type'].value?.length === 255" class="text-danger font-14">Please
            insert no more than 255
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
        <mat-form-field appearance="outline">
          <mat-label> Company Registration Number (Old) </mat-label> <input matInput placeholder="Company Registration Number (Old)"
            formControlName="id_number_old" type="text" maxlength="255">
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> {{id_placeholder}} </mat-label> <input matInput placeholder={{id_placeholder}}
            formControlName="id_number" type="text" maxlength="255">
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100"
      *ngIf="form.get('type').value === 'INDIVIDUAL'">
        <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
          <mat-select placeholder="Gender" formControlName="gender">
            <mat-option *ngFor="let gender of gender" [value]="gender.value"> {{gender.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>{{form.get('type').value === 'INDIVIDUAL' ? 'Date of Birth' : 'Date of Incorporation'}}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
        <mat-form-field appearance="outline">
            <mat-label> Fiscal Year End </mat-label>
            <mat-select placeholder="Fiscal Year End" formControlName="fiscal_year_end">
                <mat-option *ngFor="let month of months" [value]="month.value"> {{month.viewValue}} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
      <!-- <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> {{taxID_placeholder}} </mat-label> <input matInput placeholder={{taxID_placeholder}}
            formControlName="taxID" type="text" maxlength="255">
            <mat-hint *ngIf="form.controls['taxID'].value?.length === 255" class="text-danger font-14">Please
              insert
              no more than 255
            </mat-hint>
          </mat-form-field>
      </div> -->
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Tax Category </mat-label> <input matInput placeholder="Tax Category"
            formControlName="taxCategory" type="text" maxlength="255">
            <mat-hint *ngIf="form.controls['taxCategory'].value?.length === 255" class="text-danger font-14">Please
              insert
              no more than 255
            </mat-hint>
          </mat-form-field>
      </div>
      <!-- <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> {{taxID_placeholder}} </mat-label> <input matInput placeholder={{taxID_placeholder}}
            formControlName="taxID" type="text" maxlength="255" required>
            <mat-hint *ngIf="form.controls['taxID'].value?.length === 255" class="text-danger font-14">Please
              insert
              no more than 255
            </mat-hint>
          </mat-form-field>
      </div> -->
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
        <mat-form-field appearance="outline">
          <mat-label> Company Tax Registration ID </mat-label> <input matInput placeholder="Company Tax Registration ID"
            formControlName="taxID" type="text" maxlength="255">
          <mat-hint *ngIf="form.controls['taxID'].value?.length === 255" class="text-danger font-14">Please
            insert
            no more than 255
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Country </mat-label>
          <mat-select placeholder="Country" formControlName="country">
            <mat-option>
              <ngx-mat-select-search (keyup)="applyCountryFilter($event.target.value)"
                [placeholderLabel]="'Country'" [noEntriesFoundLabel]="'No matching records found'"
                formControlName="currentCountry" ngDefaultControl>
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of newCountryArr" [value]="item.country_code"> {{ item.country_name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Currency </mat-label>
          <mat-select placeholder="Currency" [formControl]="form.controls['currency']" required>
            <mat-option>
              <ngx-mat-select-search (keyup)="applyCurrencyFilter($event.target.value)" [placeholderLabel]="'Currency'"
                [noEntriesFoundLabel]="'No matching records found'" formControlName="currentCurrency" ngDefaultControl>
              </ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let item of newCurrency" [value]="item.display_short"> {{item.display_short}} - {{
              item.display_main }} </mat-option>
          </mat-select>
          <mat-hint *ngIf="form.controls['currency'].hasError('required') && form.controls['currency'].touched"
            class="text-danger font-14">Please choose currency </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Description </mat-label> <input matInput placeholder="Description" formControlName="description"
            type="text" maxlength="255">
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
        <mat-form-field appearance="outline">
          <mat-label> AR / AP Type </mat-label>
                <mat-select placeholder="AR/AP Type" formControlName="arap_type">
                  <mat-option *ngFor="let type of arapType" [value]="type.value"> {{type.viewValue}} </mat-option>
                </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
        <mat-form-field appearance="outline">
          <mat-label> GL Code </mat-label>
          <mat-select placeholder="GL Code" formControlName="glCode" required>
            <mat-option>
              <ngx-mat-select-search (keyup)="applyGLCodeFilter($event.target.value)" [placeholderLabel]="'GL Code'"
                [noEntriesFoundLabel]="'No matching records found'" formControlName="currentGlCode" ngDefaultControl>
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of newGlCode1" [value]="item.glcode_guid">{{ item.glcode_name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Email </mat-label>
          <input matInput placeholder="Email" formControlName="email" type="text" maxlength="255" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
          <mat-hint *ngIf="form.controls['email'].value?.length === 255" class="text-danger font-14">
            Please insert no more than 255
          </mat-hint>
          <mat-hint *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
            class="text-danger font-14"> Please enter valid email </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label> Phone Number </mat-label>
          <ngx-mat-intl-tel-input formControlName="phone" required [enablePlaceholder]="true"
          [enableSearch]="true" [preferredCountries]="['my', 'sg']" [enablePlaceholder]="true" name="phone"
          #phone>
        </ngx-mat-intl-tel-input>
        <mat-hint *ngIf="form.controls['phone'].hasError('required') " class="text-danger font-14">Phone number is required
        </mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
        <mat-form-field appearance="outline">
            <mat-label> Website URL </mat-label>
            <input matInput placeholder="Website URL" formControlName="url" type="text" maxlength="255"/>
            <mat-hint *ngIf="form.controls['url'].value?.length === 255" class="text-danger font-14">
                Please insert no more than 255 characters
            </mat-hint>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
        <mat-form-field appearance="outline">
          <mat-label> Business Nature </mat-label>
          <mat-select placeholder="Business Nature" formControlName="business_nature">
            <mat-option>
              <ngx-mat-select-search (keyup)="applyNatureFilter($event.target.value)"
                [placeholderLabel]="'Business Nature'" [noEntriesFoundLabel]="'No matching records found'"
                formControlName="currentBusinessNature" ngDefaultControl>
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let nature of newBusinessNatureArr" [value]="nature.nature_code"> 
              {{nature.nature_code}} - {{nature.nature_name }} </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <mat-form-field appearance="outline">
          <mat-label> Classification </mat-label> <input matInput placeholder="Classification" formControlName="classification" type="text" maxlength="255">
          <mat-hint *ngIf="form.controls['classification'].value?.length === 255" class="text-danger font-14">Please insert no more than 255 characters
          </mat-hint>
      </mat-form-field>
    </div>
    <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
      <mat-form-field appearance="outline">
          <mat-label> SST Number </mat-label> <input matInput placeholder="SST Number" formControlName="sst_number" type="text" maxlength="255">
          <mat-hint *ngIf="form.controls['sst_number'].value?.length === 255" class="text-danger font-14">Please insert no more than 255 characters
          </mat-hint>
      </mat-form-field>
  </div>
  <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
    <mat-form-field appearance="outline">
        <mat-label> SST Exemption Number </mat-label> <input matInput placeholder="SST Exemption Number" formControlName="sst_exemption_number" type="text" maxlength="255">
        <mat-hint *ngIf="form.controls['sst_exemption_number'].value?.length === 255" class="text-danger font-14">Please insert no more than 255 characters
        </mat-hint>
    </mat-form-field>
</div>
<div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
    <mat-form-field appearance="outline">
        <mat-label> GST Number </mat-label> <input matInput placeholder="GST Number" formControlName="gst_number" type="text" maxlength="255">
        <mat-hint *ngIf="form.controls['gst_number'].value?.length === 255" class="text-danger font-14">Please insert no more than 255 characters
        </mat-hint>
    </mat-form-field>
</div>
<div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngIf="form.get('type').value === 'CORPORATE'">
  <mat-form-field appearance="outline">
      <mat-label> WHT Number </mat-label> <input matInput placeholder="WHT Number" formControlName="wht_number" type="text" maxlength="255">
      <mat-hint *ngIf="form.controls['wht_number'].value?.length === 255" class="text-danger font-14">Please insert no more than 255 characters
      </mat-hint>
  </mat-form-field>
</div>
    </div>
  </div> <!-- </mat-card-content> </mat-card> -->
</form>