<div style="text-align: right; margin-top: 16px;">
    <button mat-raised-button color="primary" type="button" (click)="onSave()">SAVE</button>
</div>
  <app-select-parent-printable  [(printable)]="form.controls['printableFormatHdr']" [txnType]="'INTERNAL_SALES_RETURN'" [hideNone]=true></app-select-parent-printable> 
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Header</mat-label>
    <textarea #remarks matInput placeholder="Remarks" [formControl]="form.controls['header']"></textarea>
    <mat-hint align="end">{{remarks.value.length}} characters</mat-hint>
  </mat-form-field> 
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Footer</mat-label>
    <textarea #remarks matInput placeholder="Remarks" [formControl]="form.controls['footer']"></textarea>
    <mat-hint align="end">{{remarks.value.length}} characters</mat-hint>
  </mat-form-field> 