<div class="view-col-table no-tab" fxLayout="column">
  <mat-card-title class="column-title">
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between end"
      fxLayoutGap="10px"
    >
      <div fxFlex="3 0 0">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="3px"
        >
          <mat-form-field
            #trigger="cdkOverlayOrigin"
            cdkOverlayOrigin
            appearance="outline"
            class="search-box"
          >
            <mat-label>Search...</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input
              #basic
              matInput
              type="text"
              placeholder="Search Serial Number..."
              (keyup.enter)="onSearch(searchText)"
              [(ngModel)]="searchText"
            />
            <div role="group" fxLayout="row wrap" matSuffix>
              <button
                class="inline blg-small-button-icon"
                mat-icon-button
                (click)="onReset()"
                type="button"
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div
        class="blg-accent"
        fxFlex="1 0 25"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <app-pagination
          fxFlex
          #pagination
          [agGridReference]="agGrid"
        ></app-pagination>

      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10px" [style.padding]="'5px'">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onAddToSalesReturn()"
        style="height: 50px"
      >
        Add to Sales Return
      </button>
    </div>
  </mat-card-title>
  <div style="height: 80%">
    <ag-grid-angular
      #agGrid
      id="grid"
      style="height: 100%"
      class="ag-theme-balham"
      [getRowClass]="pagination.getRowClass"
      [columnDefs]="columnsDefs"
      [rowData]="[]"
      [paginationPageSize]="pagination.rowPerPage"
      [cacheBlockSize]="pagination.rowPerPage"
      [pagination]="true"
      [animateRows]="true"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="false"
      [frameworkComponents]="frameworkComponents"
      [getRowHeight]="getRowHeight"
      [rowSelection]="'multiple'"
      [sideBar]="true"
      [rowModelType]="'serverSide'"
      [serverSideStoreType]="'partial'"
      [applyColumnDefOrder]="true"
      (gridReady)="onGridReady($event)"
      [suppressRowClickSelection]="true"
    >
    </ag-grid-angular>
  </div>
</div>
