<div class="view-col-table no-tab" fxLayout="column">
    <mat-card-title class="column-title">
        <div fxLayout="row wrap" fxLayoutAlign="space-between end" fxLayoutGap="10px">
            <div fxFlex="3 0 0">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
                <button ngClass.xs="blg-button-mobile" #navBtn class="blg-button-icon" mat-button matTooltip="Create" type="button"
           
                (click)="onNext()">
                <img [ngClass]="navBtn.disabled ? 'blg-button-disabled' : null" src="assets/images/add.png" alt="add" width="40px" height="40px">
              </button>
                <mat-form-field appearance="outline" class="search-ag mobile">
                  <mat-label>Search</mat-label>
                  <mat-icon matPrefix>search</mat-icon>
                  <input matInput type="text" (keyup)="quickSearch()" [(ngModel)]="searchValue" placeholder="Search" />
                </mat-form-field>
              
              </div>
            </div>
            <div class="blg-accent" fxFlex="1 0 25" fxLayout="row" fxLayoutAlign="space-between center">
              <app-pagination fxFlex #pagination [agGridReference]="agGrid"></app-pagination>
            </div>
          </div>
    </mat-card-title>      
<div style="height: 80%" fxFlex>
    <ag-grid-angular #agGrid
    id="grid"
    style="height: 100%;"
    class="ag-theme-balham"
    [getRowClass]="pagination.getRowClass"
    [columnDefs]="columnsDefs"
    [rowData]="rowData"
    [paginationPageSize]="pagination.rowPerPage"
    [cacheBlockSize]="pagination.rowPerPage"
    [pagination]="true"
    [animateRows]="true"
    [defaultColDef]="defaultColDef"
    [suppressRowClickSelection]="true"
    [sideBar]="'columns'"
    (rowClicked)="onRowClicked($event.data)"
    (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>
</div>