<mat-card-title class="column-title">
  <div fxLayout="row wrap" fxLayoutAlign="space-between end">
    <div>
      <button #navBtn mat-button class="blg-button-icon" matTooltip="Back" type="button"
              (click)="onReturn()">
        <img [ngClass]="navBtn.disabled ? 'blg-button-disabled' : null" src="../../../assets/images/backbutton.png" alt="add" width="40px" height="40px">
      </button>
      <span> Log Time </span>
    </div>
  </div>
</mat-card-title>
  
<form [formGroup]="form">
  <div fxLayout="row wrap" fxFlexAlign="center" class="view-col-forms">
    <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Activity Type</mat-label>
        <mat-select placeholder="Activity Type" [formControl]="form.controls['activityType']">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput [matDatepicker]="datepicker" [formControl]="form.controls['date']" autocomplete="off" readonly (click)="datepicker.open()">
        <mat-error>Date is <strong>not valid</strong></mat-error>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Duration</mat-label>
        <input matInput placeholder="Duration" [formControl]="form.controls['duration']" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea #remarks matInput placeholder="Description" [formControl]="form.controls['description']"></textarea>
        <mat-hint align="end">{{remarks.value.length}} characters</mat-hint>
      </mat-form-field>
    </div>
  </div>
</form>
  